Repository jasmin-lang/jasmin, pull requests merged in 2023-03, with the labels that each got.

#369 CI: use OCaml 4.14.1 in opam jobs
  scripts/opam-setup.sh
Labels: CI, opam

#365 Safety checker: fix lattice operations of the Init domain
  CHANGELOG.md
  compiler/safety/fail/init-join.jazz
  compiler/safety/success/align2.jazz
  compiler/src/safety/domains/safetyBoolean.ml
  compiler/src/safety/domains/safetyInterfaces.ml
  compiler/src/safety/safetyInterpreter.ml
Labels: bug, safety-checking

#363 stack-allocation: fail early when merging slices
  CHANGELOG.md
  compiler/src/alias.ml
  compiler/tests/fail/stack_allocation/bug_54.jazz
  compiler/tests/success/bug_54.jazz
Labels: bug

#370 CLI: improved errors
  compiler/src/CLI_errors.ml
  compiler/src/CLI_errors.mli
  compiler/src/glob_options.ml
  compiler/src/main_compiler.ml
  compiler/src/utils.mli
Labels: ocaml

#374 Fix ARM instruction descriptions for RSB, UXTB and UXTH
  proofs/compiler/arm_instr_decl.v
Labels: bug, arm

#382 Register allocation: register banks depend on arch
  compiler/src/regalloc.ml
  compiler/tests/fail/arm-m4/bug_201.jazz
Labels: bug, arm, register-allocation

#384 checksafety: heuristic for bounded loops
  CHANGELOG.md
  compiler/src/prog.ml
  compiler/src/prog.mli
  compiler/src/safety/safetyInterpreter.ml
  compiler/src/safety/safetyPreanalysis.ml
Labels: enhancement, safety-checking

#398 [CI] EasyCrypt: use why3 1.6.0
  default.nix
  scripts/easycrypt.nix
Labels: CI

#394 fix a bug on the handling of #VPEXTR_8 and #VPEXTR_16
  CHANGELOG.md
  compiler/tests/success/x86-64/vector.jazz
  proofs/compiler/x86_instr_decl.v
  proofs/lang/word.v
Labels: bug
