Repository jasmin-lang/jasmin, pull requests merged in 2023-01, with the labels that each got.

#317 checksafety: add support for #randombytes
  CHANGELOG.md
  compiler/safety/success/randombytes.jazz
  compiler/src/prog.ml
  compiler/src/prog.mli
  compiler/src/safety/safetyAbsExpr.ml
  compiler/src/safety/safetyInterpreter.ml
Labels: bug, safety-checking

#311 regalloc: flag registers may conflict
  CHANGELOG.md
  compiler/src/regalloc.ml
  compiler/tests/fail/register_allocation/bug_309.jazz
Labels: register-allocation

#313 regalloc: fail when some reg bool variables remain unallocated
  CHANGELOG.md
  compiler/src/regalloc.ml
  compiler/tests/fail/register_allocation/bug_310.jazz
Labels: bug, register-allocation

#318 CI: update reference to nixpkgs
  scripts/easycrypt.nix
  scripts/nixpkgs.nix
Labels: CI

#320 CI: use a recent docker image
  .gitlab-ci.yml
Labels: CI

#315 checksafety: reset A/M-var conversion table
  CHANGELOG.md
  compiler/safety/success/bug_314.jazz
  compiler/src/safety/domains/safetyNum.ml
  compiler/src/safety/safetyVar.ml
  compiler/src/safety/safetyVar.mli
Labels: bug, safety-checking

#324 DIV and MOD can be used in compound assignments
  CHANGELOG.md
  compiler/src/parser.mly
  compiler/src/pretyping.ml
  compiler/src/syntax.ml
  compiler/tests/success/divmod.jazz
Labels: enhancement

#329 Removed useless hypothesis in Array.set_neqiE
  eclib/JArray.ec
Labels: EasyCrypt

#322 checksafety: better handling of integer shift operators
  CHANGELOG.md
  compiler/safety/success/int_shift.jazz
  compiler/src/safety/safetyAbsExpr.ml
Labels: safety-checking

#286 CI: test compilation to ARMv7-m4
  .gitlab-ci.yml
  compiler/config/tests.config
  compiler/scripts/check-arm
  default.nix
Labels: CI, arm

#331 Check bounds in array-expansion
  CHANGELOG.md
  compiler/tests/fail/array_expansion/bug_333.jazz
  compiler/tests/fail/array_expansion/out-of-bounds.jazz
  proofs/compiler/array_expansion.v
  proofs/compiler/array_expansion_proof.v
Labels: bug

#327 Turn a reachable “assert false” into a proper error
  compiler/src/alias.ml
  compiler/tests/pending/cmoveptr.jazz
Labels: enhancement

#323 Arm stack alignment
  .gitlab-ci.yml
  compiler/examples/arm_m4/set_up_stack.jazz
  compiler/src/arch_full.ml
  compiler/src/arch_full.mli
  compiler/src/arm_arch_full.ml
  compiler/src/regalloc.ml
  compiler/src/x86_arch_full.ml
  proofs/compiler/arm_lowering.v
  proofs/compiler/arm_params.v
  proofs/compiler/arm_params_proof.v
  proofs/compiler/linearization.v
  proofs/compiler/linearization_proof.v
  proofs/compiler/x86_params.v
  proofs/compiler/x86_params_proof.v
  proofs/lang/expr.v
  proofs/lang/linear_sem.v
  proofs/lang/psem.v
  proofs/lang/utils.v
  proofs/lang/var.v
  proofs/lang/word.v
Labels: arm

#326 check-CT: better handling of randombytes
  CHANGELOG.md
  compiler/CCT/fail/randombytes.jazz
  compiler/CCT/fail/secret_ptr.jazz
  compiler/CCT/success/randombytes.jazz
  compiler/src/ct_checker_forward.ml
Labels: constant-time

#336 ARM: fix pretty-printing of JAL & CALL asm instructions
  compiler/examples/arm_m4/stack.jazz
  compiler/src/pp_arm_m4.ml
Labels: arm
