Repository jasmin-lang/jasmin, pull requests merged in 2023-10, with the labels that each got.

#597 Optimize arm_cmd_large_arith_imm
  CHANGELOG.md
  proofs/compiler/arm_params.v
  proofs/compiler/arm_params_proof.v
Labels: arm

#600 Add != as flag combination
  CHANGELOG.md
  compiler/src/pretyping.ml
  compiler/tests/success/arm-m4/conditions.jazz
  compiler/tests/success/x86-64/bug_599.jazz
Labels: bug

#617 Fix build with OCaml 5
  compiler/safetylib/safetyInterpreter.ml
Labels: ocaml

#623 Fix #622
  CHANGELOG.md
  compiler/tests/success/common/spill_pointer.jazz
  proofs/compiler/arm_params.v
  proofs/compiler/arm_params_proof.v
Labels: bug, arm
