Repository jasmin-lang/jasmin, pull requests merged in 2024-03, with the labels that each got.

#661 eclib: use a project file + specify provers versions
  eclib/easycrypt.project
  eclib/tests.config
Labels: EasyCrypt

#756 feat: allow nix-build from repository root
  .gitignore
  default.nix
Labels: nix

#763 Remove some dead code & clean some dune flags stanza
  compiler/dune
  compiler/src/arm_arch_full.ml
  compiler/src/ct_checker_forward.ml
  compiler/src/dune
  compiler/src/main_compiler.ml
  compiler/src/pp_arm_m4.ml
  compiler/src/pretyping.ml
  compiler/src/sct_checker_forward.ml
  compiler/src/stackAlloc.ml
  compiler/src/toEC.ml
  compiler/src/varalloc.ml
  compiler/src/varalloc.mli
  compiler/src/x86_arch_full.ml
  compiler/src/x86_safety.ml
  compiler/tests/exec/dune
  compiler/tests/exec/exec.ml
  compiler/tests/sct-checker/dune
  compiler/tests/sct-checker/sct_errors.ml
Labels: ocaml
