Repository jasmin-lang/jasmin, pull requests merged in 2024-09, with the labels that each got.

#885 Relax the SCT checker
  CHANGELOG.md
  compiler/src/sct_checker_forward.ml
  compiler/tests/sct-checker/accept.expected
  compiler/tests/sct-checker/fail/basic.jazz
  compiler/tests/sct-checker/fail/movmsf.jazz
  compiler/tests/sct-checker/reject.expected
  compiler/tests/sct-checker/success/movmsf.jazz
Labels: SCT checker

#888 SCT: fix checking of while loops
  CHANGELOG.md
  compiler/src/sct_checker_forward.ml
  compiler/tests/sct-checker/accept.expected
  compiler/tests/sct-checker/fail/bug_887.jazz
  compiler/tests/sct-checker/reject.expected
  compiler/tests/sct-checker/success/bug_887.jazz
Labels: bug, SCT checker

#892 varalloc: system calls do modify the stack pointer
  CHANGELOG.md
  compiler/src/varalloc.ml
  compiler/tests/success/common/bug_870.jazz
Labels: bug, stack-allocation

#890 checksafety: support dynamically scoped global variables
  CHANGELOG.md
  compiler/safety/success/dynglob.jazz
  compiler/safetylib/safetyAbsExpr.ml
Labels: bug, safety-checking

#900 checksafety: improve handling of LEA instruction
  CHANGELOG.md
  compiler/safety/success/lea.jazz
  compiler/safetylib/safetyInterpreter.ml
Labels: safety-checking

#905 pretyping: factor tt_assign out of tt_instr
  compiler/src/pretyping.ml
Labels: refactoring

#907 Debug of issue #871
  CHANGELOG.md
  compiler/src/printASM.ml
  compiler/tests/success/common/bug_871.jazz
Labels: bug

#910 Target EasyCrypt release 2024.09
  CHANGELOG.md
  compiler/src/toEC.ml
  scripts/easycrypt.nix
Labels: EasyCrypt
