Repository jasmin-lang/jasmin, pull requests merged in 2024-04, with the labels that each got.

#775 CI: update nixpkgs
  scripts/nixpkgs.nix
Labels: CI, nix

#780 asm print: fix
  compiler/src/ppasm.ml
Labels: bug

#782 [release 2023.06] Target EasyCrypt release 2024.01 & fix CI
  CHANGELOG.md
  compiler/examples/gimli/proofs/Makefile
  compiler/src/toEC.ml
  default.nix
  eclib/Makefile
  eclib/tests.config
  scripts/easycrypt.nix
Labels: CI, EasyCrypt

#773 CT checker: accept S-CT annotations
  CHANGELOG.md
  compiler/CCT/success/sct.jazz
  compiler/src/ct_checker_forward.ml
  compiler/src/sct_checker_forward.ml
  compiler/tests/sct-checker/error_messages.jazz
  compiler/tests/sct-checker/fail/basic.jazz
  compiler/tests/sct-checker/reject.expected
  compiler/tests/sct-checker/sct_errors.expected
  compiler/tests/sct-checker/sct_errors.ml
  compiler/tests/sct-checker/success/annot.jazz
Labels: constant-time

#785 take into account #spill/#unspill in sct checker
  compiler/src/prog.ml
  compiler/src/prog.mli
  compiler/src/sct_checker_forward.ml
  compiler/tests/sct-checker/accept.expected
  compiler/tests/sct-checker/fail/spill.jazz
  compiler/tests/sct-checker/reject.expected
  compiler/tests/sct-checker/success/spill.jazz
Labels: SCT checker

#788 jazzct: optionally compile before checking
  CHANGELOG.md
  compiler/CCT/success/speculative/bug_660.jazz
  compiler/config/tests.config
  compiler/entry/jazzct.ml
Labels: constant-time
