Repository jasmin-lang/jasmin, pull requests merged in 2025-07, with the labels that each got.

#1197 Checksafety: support POPCNT
  CHANGELOG.md
  compiler/safety/fail/popcnt.jazz
  compiler/safety/run.expected
  compiler/safety/run.ml
  compiler/safety/success/popcnt.jazz
  compiler/safetylib/safetyInterpreter.ml
Labels: safety-checking

#1233 Docs: set default highlight-language to “none”
  docs/source/conf.py
Labels: documentation

#1234 Regalloc: dead function arguments do conflict with each other
  CHANGELOG.md
  compiler/src/regalloc.ml
  compiler/tests/fail/register_allocation/x86-64/bug_426.jazz
  compiler/tests/fail/register_allocation/x86-64/bug_426_bis.jazz
Labels: register-allocation

#1244 CI: tag the coq-proof job
  .gitlab-ci.yml
Labels: CI

#1247 Linearization generates correct code
  CHANGELOG.md
  compiler/src/regalloc.ml
  compiler/tests/success/arm-m4/large_stack/large_stack_return_address.jazz
Labels: bug, arm
